[submodule "lib/ftdi-connector"]
	path = lib/ftdi-connector
	url = https://github.com/besi/kicad-ftdi-connector
[submodule "lib/usb-a-pcb"]
	path = lib/usb-a-pcb
	url = https://github.com/besi/kicad-usb-a-pcb
[submodule "lib/neopixel-strip"]
	path = lib/neopixel-strip
	url = https://github.com/besi/kicad-neopixel-strip
